<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <meta name="keywords" content="WEB前端开发,Golang爱好者,Javascript热爱者,用过Java,玩过Linux,最爱C,总之码农一个" />
	<meta name="description" content="本博客记录自己的学习、生活、工作、思想的点点滴滴,同时分享自己所知道的的各种知识。" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css?v=2" />
    <link rel="stylesheet" href="/media/prettify/prettify.css" />
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/media/js/outliner.js"></script>
	<script type="text/javascript" src="/media/prettify/prettify.js"></script>
  </head>
  <script type="text/javascript">
    var flag=true; 
    function setTimeSpan(){
    	var date = new Date();
    	timeSpan.innerHTML=date.format('yyyy-MM-dd hh:mm:ss');
    	if(flag){
			window.prettyPrint && prettyPrint();
	    	flag=false;
    	}
    }
    
    Date.prototype.format = function(format){
    var o ={
    	    "M+" : this.getMonth()+1, //month
    	    "d+" : this.getDate(),    //day
    	    "h+" : this.getHours(),   //hour
    	    "m+" : this.getMinutes(), //minute
    	    "s+" : this.getSeconds(), //second
    	    "q+" : Math.floor((this.getMonth()+3)/3),  //quarter
    	    "S" : this.getMilliseconds() //millisecond
    	}
    	if(/(y+)/.test(format))
    	format=format.replace(RegExp.$1,(this.getFullYear()+"").substr(4 - RegExp.$1.length));
    	for(var k in o)
    	if(new RegExp("("+ k +")").test(format))
    	format = format.replace(RegExp.$1,RegExp.$1.length==1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length));
    	return format;
	}
  </script>
  <body onLoad="setInterval(setTimeSpan,1000);">
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav id="real_nav">
        <span><a title="home" class="" href="/">home</a></span>
        <span><a title="categories" class="" href="/categories/">categories</a></span>
        <span><a title="tags" class="" href="/tags/">tags</a></span>
        <!--<span><a title="友情链接" class="" href="/links/">链接</a></span>-->
        <span><a title="guestbook" class="" href="/guestbook/">guestbook</a></span>
        <span><a title="about" class="" href="/about/">about</a></span>
        <span><a title="Shell Tricks" class="" href="/stricks/" >Shell Tricks</a></span> 
        </nav>
        <article class="content">
        {{ content }}
        </article>
        <a style="position:fixed;bottom:5px;right:5px;" href="#" title="Back to Top">
            <img src="/assets/btt.png" />
        </a> 
      </div>

    <footer>
        <p><small>
            <a href="https://github.com/{{ site.github }}/{{ site.github }}.github.io/new/master/_posts" target="_blank" title="撰写文章">Po</a>wer<a href="https://github.com/{{ site.github }}/{{ site.github }}.github.io/edit/master/{{ page.path }}" target="_blank" title="编辑页面">ed</a> by <a href="https://jekyllrb.com" target="_blank">Jekyll</a> @ <a href="https://github.com/{{ site.github }}/{{ site.github }}.github.io" target="_blank" title="项目主页">GitHub</a> | Copyright 2013 - {{site.time | date:"%Y"}} by <a href="/about/">{{ site.author }}</a> | <span class="label label-info" id="timeSpan"></span><a href="https://analytics.google.com/" title="谷歌统计" target="_blank">Statistics</a></small></p>
    </footer>

    </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="//www.googletagmanager.com/gtag/js?id=UA-118070048-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-118070048-1');
	</script>
  </body>
</html>
